.subscription-crown[data-subscription-plan] {
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-crown[data-subscription-plan="month"] {
  background-image: url("/assets/member/subscription-month.webp");
}

.subscription-crown[data-subscription-plan="quarter"] {
  background-image: url("/assets/member/subscription-quarter.webp");
}

.subscription-crown[data-subscription-plan="year"] {
  background-image: url("/assets/member/subscription-year.webp");
}
